.label-icon{
    align-items: center;
}
.pagination .page-item {
    display: inline-block;
    margin: 0 5px; /* Khoảng cách giữa các nút */
}

.pagination .page-item .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Chiều rộng cố định */
    height: 40px; /* Chiều cao cố định */
    border-radius: 50%;
    text-align: center;
    line-height: 40px; /* Chiều cao dòng bằng chiều cao nút để căn giữa */
    border: 1px solid #ddd; /* Đường viền */
    color: #333; /* Màu chữ */
    background-color: #fff; /* Màu nền */
    transition: all 0.3s;
}

.pagination .page-item .page-link:hover {
    background-color: #f1f1f1; /* Màu nền khi hover */
    border-color: #ddd; /* Màu viền khi hover */
}

.pagination .page-item.active .page-link {
    background-color: #007bff; /* Màu nền khi active */
    border-color: #007bff; /* Màu viền khi active */
    color: #fff; /* Màu chữ khi active */
}
